## Git ignore for retards ;)
packages
JET.Launcher/obj
JET.Launcher/obj/Debug
JET.Launcher/obj/Relese
JET.Launcher/obj/Debug/TempPE/
JET.Launcher/bin
JET.Launcher/bin/release
JET.Launcher/bin/debug
JET/obj
JET/obj/Debug
JET/obj/Relese
JET/obj/Debug/TempPE/
JET/bin
JET/bin/release
JET/bin/debug
*.log
*.7z
Build/EscapeFromTarkov_Data/Managed
JET.SinglePlayer/obj/
*.cache
.vs/Modules/v16
JET/obj/
*.suo
